body {
    margin: 0;
    background: #fff;
    font-family: "Times New Roman", Times, serif;
}

/* === TITLE CARD === */

#title-card {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #fff;
}

#title {
    max-width: 100%;
}

.subtitle {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    transform: scale(1, 1);
}

#down-arrow {
    position: absolute;
    bottom: 20px;
    max-width: 50%;

    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}
#down-arrow.visible {
    opacity: 1;
}



/* === CONTENT === */

#content {
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    width: 100vw;
    max-width: 1000px;
    min-height: 100vh;

    /*
    border-top: 0px;
    border-bottom: 0px;
    border-left: 10px;
    border-right: 10px;
    border-color: #000;
    border-style:solid;
    */

    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;

    background: #fff;
}

.section-header {
    width: 100%;
    text-align: left;
    font-size: 4em;
    font-weight: 300;
}

#games-grid {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
}

.game {
    position: relative;
    width: 300px;
    height: 400px;

    border: 1px solid #000;

    text-align: center;
}

.game-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    max-height: 100%;
}

.game-sku {
    position: absolute;
    top: 0;
    left: 0;
}

.game-title {
    position: absolute;
    width: 50%;
    height: 32px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 1.25em;
}

.game-link-holder {
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-link {
    width: 32px;
    height: 32px;
}

#people-grid {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
}

.person {
    position: relative;
    width: 400px;
    height: 480px;

    border: 1px solid #000;

    text-align: center;
}

.person-img {
    max-width: 100%;
    max-height: 100%;
}

.person-name {
    font-size: 3em;
}

.person-website {
    font-size: 1.5em;
}

.person-website a {
    color: inherit;
}


/* === END SPACER === */

#end-spacer {
    height: 25vh;
}


/*
h1 {
    font-family: "EB Garamond", "Times New Roman", Times, serif;
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    transform: scale(1.5, 3);
}
*/